@use '../base/variables' as v;
@use '../base/mixins' as m;

.products {
  display: flex;
  justify-content: center;
  gap: 10px;
  overflow: hidden;
}
.product-container {
    flex: 0 0 25%;
    text-align: center;
    
}
