@use '../base/variables' as v;
@use '../base/mixins' as m;

.product {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  padding: 40px;
  gap: 20px;

  @include m.small-desktop {
    flex-direction: row;
    align-items: flex-end;
  }
}

.product__info {
//   flex: 0 0 1;
  .product__image {
    object-fit: cover;
    width: 600px;
    height: 400px;
  }
}

.product__actions {
  display: flex;
//   flex: 0 0 .5;
  flex-direction: column;
  margin-bottom: 40px;

  .product__description,
  .product__price {
    margin: 10px 0 0 0;
  }
  .product__price {
    font-weight: bold;
  }
}
