@use '../base/variables' as v;
@use '../base/mixins' as m;

.register-succeed {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: v.$background;
  background: linear-gradient(145deg, v.$primary 10%, v.$background 90%);
  height: 100vh;

  h1 {
    margin: 0 0 20px 0;
  }
  a {
    text-align: center;
    font-weight: bold;
    width: 80%;
    @include m.tablet {
      width: fit-content;
    }
  }
}
