@use 'variables' as v;

@import url('https://fonts.googleapis.com/css?family=Sora:700|Sora:400');

html {
  box-sizing: border-box;
  font-size: 100%; /* 16px */
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

body {
  font-family: 'Sora';
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Sora';
  font-weight: 700;
}

h1 {
  font-size: 38px;
}

h2 {
  font-size: 32px; 
}

h3 {
  font-size: 24px;
}
