@use 'variables' as v;
@use 'mixins' as m;

.title {
  margin: 30px;
}

.button {
  background: v.$secondary;
  border: none;
  border-radius: 5px;
  padding: 10px;
  transition: all 0.3s;
  cursor: pointer;

  &:hover {
    background: darken(v.$secondary, 8);
    box-shadow: 0px 0px 24px 0 darken(v.$secondary, 8);
  }
}

.button {
  &.submit {
    background: v.$secondary;
    border: none;
    border-radius: 5px;
    padding: 10px;
    transition: all 0.3s;
    font-weight: bold;
    cursor: pointer;
    width: 100%;
    @include m.tablet {
      width: auto;
    }

    &:hover {
      background: darken(v.$secondary, 8);
      box-shadow: none;
    }
  }
}

.delete-button {
  background: v.$red;
  color: v.$background;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-weight: bold;
  transition: all 0.3s;
  &:hover {
    background: darken(v.$red, 8);
    box-shadow: 0px 0px 15px 0 darken(v.$red, 8);
  }
}

.admin-page__home-button {
  background: v.$secondary;
  border: none;
  border-radius: 5px;
  padding: 10px;
  transition: all 0.3s;
  cursor: pointer;
}
