$text: #1f1b0f;
$background: #fcfbf8;
$primary: #504835;
$secondary: #a1f25f;
$accent: #4dec13;

$darkText: #f0ece0;
$darkBackground: #070603;
$darkPrimary: #cac2af;
$darkSecondary: #4fa00d;
$darkAccent: #4dec13;