@use '../base/variables' as v;

.about__title {
  margin: 30px;
}
.about__content {
  position: relative;
  background: darken(v.$secondary, 8);
  padding: 40px 0;
  display: grid;
  place-items: center;

  .about__paragraph {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    width: 60%;
    color: darken(v.$primary, 5);
  }
}
