@use '../base/variables' as v;
@use '../base/mixins' as m;

.slide-img {
  height: 300px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: none;
  &.active {
    display: block;
  }
}
