@use '../base/variables' as v;
@use '../base/mixins' as m;

.ads-container {
  position: relative;
  z-index: 0;
}

.slide-image {
  width: 100%;
  height: 300px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  opacity: 0;
  transition: all 0.4s;
  &.active {
    opacity: 1;
  }
}
