@use '../base/variables' as v;
@use '../base/mixins' as m;

.go-to-profile {
  display: flex;
  align-items: center;
  color: v.$text;
}

.edit-profile-title {
  margin-left: 0;
}

.profile-container {
  margin: 20px 40px;

  .profile-info {
    display: flex;
    align-items: center;
    flex-direction: column;
    @include m.tablet {
      flex-direction: row;
    }

    gap: 30px;
    margin-bottom: 20px;
  }
}

.profile-image-container {
  position: relative;

  .image-upload {
    display: grid;
    place-items: center;
    width: 40px;
    height: 40px;
    background: darken(v.$secondary, 10);
    border-radius: 50%;
    position: absolute;
    bottom: 20px;
    right: 25px;
    cursor: pointer;

    svg {
      stroke: v.$background;
    }
  }
  .img-input {
    display: none;
  }
}

.edit-form {
  background-color: v.$primary;
  padding: 20px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: v.$background;
  margin-bottom: 30px;

  label {
    font-weight: bold;
  }
  input {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;

    &:focus {
      outline: v.$secondary solid 2px;
    }
  }
  .save {
    width: auto;
    color: v.$background;
    background: darken(v.$secondary, 10);
    font-weight: bold;
    @include m.tablet {
      width: min-content;
    }
  }
}
