@use '../base/variables' as v;
@use '../base/mixins' as m;

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2px;
  background: v.$background;
  box-shadow: 0px 0px 10px 2px rgba($color: #000000, $alpha: 0.25);
  
  @include m.tablet {
    flex-direction: row;
  }


  .header__shopping-basket {
    margin: 0;
    order: 1;
    @include m.tablet {
      order: inherit;
      margin-right: 40px;
    }
  }
}
