@use '../base/variables' as v;
@use '../base/mixins' as m;

.popular-products__title {
  margin: 30px;
}
.products-slider-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 20px 40px 20px;
  @include m.tablet {
    margin: 0 0 40px 0;
  }
}
.arrow {
  background: none;
  border: none;
  cursor: pointer;
  display: none;
  @include m.tablet {
    display: block;
  }

  &#arrow-left {
    visibility: hidden;
  }
}
