@use '../base/variables' as v;
@use '../base/mixins' as m;

.popular-products__title {
    margin: 30px;
}
.products-container {
    display: flex;
    justify-content: space-between;
}
.arrow {
    background: none;
    border: none;
    cursor: pointer;
}